@import "/src/styles/theme";

td {
	padding: 0.5rem;
	padding-left: 1.25rem;
}

.section-header {
	font-size: 20px;
	font-weight: 600;
	color: $black;
}

.accordion-button.collapsed {
	background: $study-header-gray;
}
.accordion-button:not(.collapsed) {
	background: $study-header-gray;
}

.accordion {
	--bs-accordion-body-padding-x: 0rem;
	--bs-accordion-body-padding-y: 0rem;
}

.odd {
	background-color: $tr-gray;
}

.even {
	background-color: $white;
}

.class,
.class:hover {
	color: $orange;
	text-decoration: underline;
	margin-bottom: 0;
	display: inline;
	cursor: pointer;
}

.posContainer {
	height: 70vh;
	overflow: scroll;
}

.posBox {
	border-radius: 5px;
	border-color: rgb(209, 209, 209);
	border-width: 2px;
	border-style: solid;
	// box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
