$nav-blue: #005083;
$footer-blue: #5b8dba;
$help-blue: #7ab5da;

$red: #ff0000;
$warning-red: #c70101;
$button-red: #d80000;
$unavailable-red: #d8a2a2;
$course-header-red: #ffcccc;
$course-body-red: #fff2f2;

$dark-green: #008000;
$button-green: #00b000;
$light-green: #a2e0a2;

$orange: #f78d2d;

$yellow: #ffd51d;

$black: #000;
$gray: #979797;
$th-gray: #8f8f8f;
$tr-gray: #f1f1f1;
$study-header-gray: #d9d9d9;

$white: #fff;
