@import "/src/styles/theme";

td {
	padding: 0.5rem;
}

.section-header {
	background-color: $gray;
	font-weight: bold;
}

.odd {
	background-color: $tr-gray;
}

.even {
	background-color: $white;
}

.class {
	color: $orange;
}
