@import "/src/styles/theme";

.popup {
	.keep-working {
		background-color: $footer-blue;
		color: $white;
		font-weight: 600;
		border: 2px solid $footer-blue;
	}
	.keep-working:hover {
		background-color: white;
		color: $footer-blue;
	}

	.log-out {
		background-color: $white;
		color: rgb(92, 92, 92);
		font-weight: 600;
		border: 2px solid rgb(146, 146, 146);
	}
	.log-out:hover {
		background-color: rgb(146, 146, 146);
		color: white;
	}

	.popup-header {
		border-right: 4px solid $help-blue;
		border-bottom: none;
		border-left: 4px solid $help-blue;
		border-top: 4px solid $help-blue;
	}
	#popup-body {
		border-right: 4px solid $help-blue;
		border-bottom: none;
		border-left: 4px solid $help-blue;
		border-top: none;
	}
	.popup-footer {
		border-right: 4px solid $help-blue;
		border-bottom: 4px solid $help-blue;
		border-left: 4px solid $help-blue;
		border-top: none;
	}
}
