.warningBox {
	background: #ffe2aa;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.15s;
}

.warningBox:hover {
	filter: brightness(95%);
}

.iconBox {
	background-color: #ffffff;
}

.warningText {
	font-size: 20px;
	font-weight: 600;
	color: #8b4809;
}

.viewButton {
	width: 137px;
	height: 35px;
	background: #ff9900;
	border-radius: 5px;
	margin-left: 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	transition: 0.15s;
	text-align: center;
}

.viewButton:hover {
	/* background: #e47f21; */
	color: white;
}

.preEnrolledTooltip {
}
