.content {
    
        
    width:900px;
    margin: auto;
    
    /* display:inline-block; */
    text-align:center;
    
    

    
}

.mainTabs {
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px
}

.schedule {
    margin: auto;
    
}

.myScheduleText {
    font-weight: 600;
    margin-bottom: 10px;
}