.warningBox {
    width: 900px;
    height: 65px;
    margin: auto;
    margin-top: 20px;
    background: #FFE2AA;
    border-radius: 5px;
    display: flex;
}

.iconBox {
    width: 45px;
    background-color: #FF9900;
    margin: 10px
}

.warningText {
    margin: auto;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

.viewButton {
    width: 137px;
    height: 35px;
    float: right;
    margin: 15px;
    background: #FF9900;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: .15s;
}

.viewButton:hover {
    background: #e47f21;
    color: white;
}

.preEnrolledTooltip {
    
}